body {
  background-color: #424242ff;
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.left-icon * {
  padding-right: 5%;
}

.icon-button * {
  padding: 3%;
}

.header {
  min-height: 5vh;
}

.footer {
  min-height: 5vh;
}

.content {
  min-height: 81vh;
}