/* Text */

.rendered-react-keyed-file-browser {
    display: flex;
    flex-direction: column;
}

.rendered-file-browser th,a,a:hover,td,h2,dl {
    color: white;
}

.rendered-file-browser {
    display: flex;
    flex-flow: column wrap;
}

.rendered-file-browser .action-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .rendered-file-browser table {
    display: flex;
} */


/* TODO: "Confirm" button style. */